*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height:100%;
}


.logo-container{
    background: rgb(30, 103, 206);
    width:100%;
    height:10%;
}

.logo-image{
    width:5rem;
}

.logo-texte{
    font-size:205rem;
}

.menu-container{
    background:red;
    width:100%;
    height:90%;
}

.image-choice img{
    width:30rem;
}