*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


header {
    width:100%;
    background: rgb(17, 75, 117);
    height:10vh;
    margin:auto;
    align-items:center;
    position:relative;
}

.logo-container{
    display: flex;
    flex:1;
}


.logo-image{
    margin_left:10vh;
    width: 10vh;
    height:10vh;

}

.logo-texte{
    margin:2vh;
    color:rgb(231, 249, 255);
    font-size:3vh;
    
}

.menu-container{
    width: 100%;
    margin:auto;
    min-height:90vh;
    background:linear-gradient(to bottom,rgb(27,125,157),rgb(138, 175, 201))

}

.image-choice{
    padding:12vh 0vh 0vh 0vh;
    display:flex;
    justify-content: space-around; 
}

.image-choice img{
    height:50vh;
}

.buttons{
    padding:12vh 0vh 0vh 0vh;
    display:flex;
    justify-content: space-around;
    
}

.buttons button{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size:3vh;
    border: 0.5vh solid black;
    border-radius: 10vh;
    width:22vh;
    height:12vh;
    background: rgb(231, 249, 255);
    cursor:pointer;
}

button:hover{
    border: 0.5vh dotted black;
}



