*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


header {
    width:100%;
    background: rgb(17, 75, 117);
    height:10vh;
    margin:auto;
    align-items:center;
    position:fixed;
}

.logo-container{
    display: flex;
}


.logo-image{
    flex:left;
    width: 10vh;
    height:10vh;

}

.logo-texte{
    margin:2vh;
    margin-left:0;
    color:rgb(231, 249, 255);
    font-size:3vh;
    text-shadow:2px 2px darkblue;
}

.arrow{
    margin-top:1vh;
    padding:0;
    height:7vh;
    background:white;
}

.tab-texte{
    margin:2vh;
    color:rgb(231, 249, 255);
    font-size:3vh;
}

.body-container{
    font-size:5vh;
    display:flex;
    width: 100%;
    margin:auto;
    min-height:200vh;
    background:linear-gradient(to bottom,rgb(27,125,157),rgb(138, 175, 201))
    
}

.body-container h2{
    flex:1;
    justify-content: space-around;
    margin-left:50vh;
    margin-top:50vh;
}
